<!DOCTYPE css>
img {
image-rendering: crisp-edges;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: -webkit-optimize-contrast;
-ms-interpolation-mode: nearest-neighbor;
}
img.a {
  vertical-align: text-bottom;}
.pixelated {
  image-rendering: pixelated;
}
A {

}
A:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

A:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
A:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
	font-weight: bold;
}
section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  text-align: center;
  padding: 0px 5px;
  padding-left: 60px;
  padding-bottom: 30px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
}
.topnav a.active {
  color: white;
}
footer {
  padding: 10px;
  text-align: center;
  color: black;
}
h1 {
 font-size:20px;
  font-family:monospace courier;
  text-shadow: 1px 1px white;
}
h2 {
  text-shadow: 1px 1px 10px white,1px 5px 3px black;
  color:white;
  font-size:150%;
  font-family:sans-sans-serif;
}
p {
  line-height: 1.5;
 font-family:courier;
	font-size: 170%;
	color: white;
  text-shadow: 1px 1px 10px black, 1px 1px 1px white;
}
body{
  background-color:black;
	background-size: cover;
	background-position: center;
}
span{
	color:gold;
}
@media (max-width:900px) {
  .title {
        width: auto;
        font-size: auto;
        max-width: 20vh;
    }
  .homebutton {
  display: none

  }
}
@media (min-width:901px) {
  .title {
        width: auto;
    }
  .mobilebutton {
  display: none
  }
}
.title {
  font-size:10px;
}

.homebutton {
  float:left;

}
.mobilebutton {
float: left;
}
